<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="Description" CONTENT="PHPTestGO: Online Certification PHP Training">
    <title>{% block title %}PHP Test Go{% endblock %}</title>
    <meta property="og:title" content="PHP Test Go">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://github.com/TheRatG/phptestgo">
    <meta property="og:description" content="Online Certification PHP Training based on certificationy question packs">
    {% block stylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet"
              type="text/css">
        <link rel="stylesheet" href="{{ asset('build/css/main.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body id="{% block body_id %}{% endblock %}">
{% block body %}
    <div id="app"></div>
    <script type="text/javascript">
        window.__INITIAL_PACKS__ = {{ packs|json_encode|raw }};
    </script>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/main.js') }}"></script>
{% endblock %}

</body>
</html>